body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    width: fit-content;
    min-height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

.container h2{
    text-align: center;
    font-weight: bold;
}

.form-container{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.form-container input, select{
    padding: 7px;
    border: 2px solid rgb(168, 167, 167);
    border-radius: 5px;
    width: 25%;
} 

.form-container button{
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.form-container button:hover{
    background-color: blue;
}

.edit, .delete{
    border: 2px solid rgb(174, 171, 171);
    margin-right: 40px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}
.edit:hover,
.delete:hover{
    background-color: rgb(152, 152, 152);
}